<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include("./_share/metadata.ejs") %>
    <%- include("./_share/stylesheets.ejs") %>
    <title>Document</title>
</head>
<body>
  <h1>Hello World!</h1>
</body>
</html>