<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include("./_share/metadata.ejs") %>
    <%- include("./_share/stylesheets.ejs") %>
    <title>Document</title>
</head>
<body>
  <div class="outerframe">
    <%- include("./_share/navbar.ejs")  %> 
    <h1>Hello World!</h1>
  </div>
  <%- include("./_share/javascripts.ejs") %> 
</body>
</html>